<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoliebreDH</title>
    <!--ICONOS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> 
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!--ESTILOS-->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css"><!--directamente la carpeta donde esta el archivo por que public es estatico-->
</head>
<body>
    <header>
        <div class="contenedor-header">
            <nav class="nav-header-arriba"><!--barra de navegacion arriba-->
                <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo">               
                <div class="buscador">
                    <input type="text"></input><i class="fas fa-search icono-lupa-contenedor"></i>
                </div><!--buscador-->
                <h2 class="titulo-header-compraCreditCard"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2><!--compra tarjeta de credito-->    
            </nav><!--barra de navegacion arriba-->
            <nav class="nav-header-abajo"><!--barra de navegacion abajo-->
                <ul class="izquierda-navBar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="derecha-navBar">
                    <li><a href="/register">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
                    <li><a href="#">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav><!--barra de navegacion abajo-->
            <div class="burger-menu"> 
                <i class="fa fa-bars burger"></i> 
            </div>
        </div>
    </header>
    <div class="banner">
        <img src="images/img-home-banner.jpg" alt="banner">
    </div>
    <main>
        <section class="seccion-ultima-visita"><!--Seccion Basado en tu ultima visita-->
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen"/>
                <div class="caja-descripcion">
                    <div class="icono-marco-redondo">
                        <i class="fas fa-truck icono-envio"></i>
                    </div>
                    <div class="contenedor-precio">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>      
            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="imagen"/>
                <div class="caja-descripcion">
                    <div class="icono-marco-redondo">
                        <i class="fas fa-truck icono-envio"></i>
                    </div>
                    <div class="contenedor-precio">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen"/>
                <div class="caja-descripcion">
                    <div class="icono-marco-redondo">
                        <i class="fas fa-truck icono-envio"></i>
                    </div>
                    <div class="contenedor-precio">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen"/>
                <div class="caja-descripcion">
                    <div class="icono-marco-redondo">
                        <i class="fas fa-truck icono-envio"></i>
                    </div>
                    <div class="contenedor-precio">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section><!--Seccion Basado en tu ultima visita-->
        <section class="seccion-ofertas"><!--Seccion Ofertas-->
            <h2>Ofertas</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen"/>
                <div class="caja-descripcion">
                    <div class="icono-marco-redondo">
                        <i class="fas fa-truck icono-envio"></i>
                    </div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen"/>
                <div class="caja-descripcion">
                    <div class="icono-marco-redondo">
                        <i class="fas fa-truck icono-envio"></i>
                    </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen"/>
                <div class="caja-descripcion">
                    <div class="icono-marco-redondo">
                        <i class="fas fa-truck icono-envio"></i>
                    </div>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section><!--Seccion Ofertas-->
    </main>
    <footer>
        <section>
            <div class="icono-pago-targeta"> 
                <i class="fas fa-credit-card"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
        </section>
        <section>
            <div class="icono-envio-gratis"> 
                <i class="fas fa-gift"></i>
            </div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div class="icono-seguridad"> 
                <i class="fas fa-user-shield"></i> 
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p>
        </section>
        
        <p class="caja-copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
    </footer>

<!--
    <form action="crear-producto" method="POST" class="crear-formulario">
        <div class="control-formulario">
            <label>Nombre del producto</label>
            <input type="text" name="nombre" class="control"></input>
        </div>
        <div class="control-formulario">
            <label>precio</label>
            <input type="text" name="precio" placeholder="123.456" class="control"></input>
        </div>
        <div class="control-formulario">
            <label>Categoria</label>
            <select name="categoria" required>
                <option value="">Seleccione una categoria</option>
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentariar</option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Ciudad</label>
            <select name="ciudad">
                <option value="buenos-aires">Buenos Aires</option>
                <option value="rosario">Rosario</option>
                <option value="mdq">Mar del Platar</option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Descripcion</label>
            <textarea name="descripcion" class="control"></textarea>
        </div>
        <div class="control-formulario">
            <label><input type="radio" name="esOferta" value="oferta"></input>Esta en oferta</label>  
            <label><input type="radio" name="esOferta" value="sinOferta"></input>No esta en oferta</label>          
        </div>
        <button type="reset" class="boton-formulario">BORRAR</button>
        <button type="submit" class="boton-formulario">CREAR</button>
    </form>
-->
</body>
</html>