*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{   
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: 0px;
}

header{
    background-color: #EAC926;   
}
header .contenedor-header{
    width: 90vw;
    margin: auto;
}

/*************header arriba**************/
header .nav-header-arriba{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo{
    width: 50%;
    margin: 20px 0px;
}

.buscador{
    display: flex;
    width: 50%;
    padding: 0 0 0 15px;
}
.buscador input{
    align-items: center;
    border-radius: 6px 0 0 6px;
    border: 1px solid #ffffff;
    width: 80%;
    height: 30px;
}
.icono-lupa-contenedor{
    display: inline-block;
    border-radius: 0 6px 6px 0;
    background-color: #ffffff;
    padding: 5px;
    width: 30px;
}

.titulo-header-compraCreditCard{
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    margin: 0 0 20px 0;
}

.burger-menu{
    text-align: center;
    padding: 10px;
}
.burger{
    background-color: #03264C;
    color:#ebebeb;
    padding: 10px;
    border-radius: 5px;
}

.icono-pago-targeta, .icono-envio-gratis, .icono-seguridad{
    color:#1259c3;
    font-size: 2em;/*1 em = 14px*/
    line-height:36px;
}
/**************************************/

header .nav-header-abajo{
    display: none;
}

.banner img{
    width: 100vw;
}


section{
    display: inline-block;
    margin: auto;
}

main{
    width: 90vw;
    margin: auto;
}

article{
    text-align: left;
    background-color: #ebebeb;
    margin-bottom: 10px;
}

p{
    font-size: 12px;
    margin: 0px;
}

h2{
    font-size: 24px;
}

article img{
    width: 100%;
}

.nav-header-abajo{
    display: flex;
    justify-content: space-between;
}

.nav-header-abajo ul{
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}
.nav-header-abajo .derecha-navBar a,
.nav-header-abajo .izquierda-navBar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0px;
    font-size: 10px;
}

.caja-descripcion{
    /*border-top: 1px solid #ebebeb;*/
    background-color: #ffffff;
    padding: 0 0 15px 15px;
}

.contenedor-precio{
    display: flex;
}

p.precio{
    font-size: 18px;
    width: 30%;
}

p.descuento{
    width: 70%;
    font-size: 16px;
    color:#39b54a;
}

h3.descripcion{
    font-size: 16px;
    display: none;
    width: 100%;
}

.icono-marco-redondo{
    display: block;
    border: 2px solid #39b54a;
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 25px;
    position: relative;/*posicionamos el icono en un lugar especifico partiendo de la posicion del contenedor padre*/
    margin-left: 85%;
    top:-18px;
}
.icono-envio{
    font-size: 1rem;
    padding-left: 0.3rem;
    padding-top: 0.4rem;
    color: #39b54a;
}

footer{
    text-align: center;
    background-color: #ffffff;
}

.caja-copyright{
    margin: 10px;
}


/*******FORMULARIO********************/
.formulario{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.crear-formulario{
    padding: 15px;
}

.control-formulario{
    margin-bottom: 20px;
}

.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control{
    width: 50%;
    padding: 8px;
}

.boton-formulario{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/*************************************/

/***********MEDIAS QUERYS**************/
/*tablets*/
@media (min-width: 600px){
    h3.descripcion{
        display: inline-block;
    }

    .nav-header-arriba{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        width: 25%;
    }
    .buscador{
        width: 25%;
    }
    .titulo-header-compraCreditCard{
        width: 35%;
        margin: 0px;
    }

    .nav-header-arriba h2{
        font-size: 9px;
        text-align: right;
    }

    header .nav-header-abajo{
        display: flex;
        justify-content: space-between;
    }

    header .nav-header-abajo ul{/*todas las li dentro de ul que esten dentro de .nav-header-abajo (incluye izquierda-navBar y derecha-navBar)*/
        display: flex;
    }
    header .nav-header-abajo li{/*todas las li dentro de ul que esten dentro de .nav-header-abajo (incluye izquierda-navBar y derecha-navBar)*/
        margin: 0px 10px;
    }

    .seccion-ultima-visita{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .seccion-ofertas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section h2{
        width: 100%;
    }

    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }

    .burger-menu{
        display: none;
    }
}

/*desktop*/
@media(min-width: 1000px){
    .nav-header-arriba, .nav-header-abajo{
        max-width: 1200px;
        margin: auto;
    }
    .nav-header-arriba{
        align-items: center;
    }
    .titulo-header-compraCreditCard{
        max-width: none;
    }
    .logo{
        width: 250px;
    }

    .nav-header-arriba h2{
        font-size: 12px;
    }

    .seccion-ultima-visita{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .seccion-ofertas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    article{
        width: 23%;
    }
}